/*
	This will all get compiled into main.css and published on build as main.css.

	Number of files will not change performance, so by all means make logical
	divisions - I recommend names that match the component they style or the source
	file to which the style applies, but other groupings also might make sense.

	Please note this is very slowly being converted from some older styles,
	you might see other things but going forward:

	- Always use relative units (rem or % if it makes sense)

	- Never use !important, figure out the load order instead

	- Specify colors as rgba() or 6 digit hex (avoid 8) for maximum compatibility

	- Please specify compact dimensions in full box model format to avoid
	  ambiguity, IE "1rem 0rem 1rem 0rem." Fine to leave off units for 0.

	- Prefix with ps_n3_ to namespace our settings because we never know what context this might appear
	  but we DO want to allow end user overrides, for example theming.
*/
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css";
@import "https://use.fontawesome.com/releases/v5.1.0/css/all.css";
@import "https://unpkg.com/leaflet@1.3.1/dist/leaflet.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css";
@import "https://unpkg.com/react-rangeslider/umd/rangeslider.min.css";
#ps_n3_body {
  overflow: hidden;
  height: 100%;
  font-family: "Lato",sans-serif;
  font-size: 1rem;
  background-color: white;
  margin: 0;
  padding: 0 0 0 0 !important; }

#ps_n3_body button {
  background-color: #dedede;
  border-radius: 2px;
  padding: 7.6px;
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  cursor: pointer; }

#ps_n3_body a:link {
  text-decoration: none;
  color: #000000; }

#ps_n3_body a:visited {
  color: #000000; }

#ps_n3_body a:hover {
  text-decoration: none;
  color: #cccccc; }

#ps_n3_body table {
  margin: 30px 0;
  border-collapse: collapse; }

#ps_n3_body th, td {
  text-align: left;
  padding: 7.5px 15px 6.5px 0;
  border-bottom: 1px solid #ababab; }

#ps_n3_main {
  height: 100vh;
  padding: 0 0rem 6rem 0; }

.ps_n3_hidden {
  display: none; }

.ps_n3_shifted {
  margin: 2.3rem 0 0 0; }

.ps_n3_invisible {
  opacity: 0; }

.ps_n3_form_buttons {
  margin: 0 !important;
  padding: 0 !important;
  width: 22rem !important; }

.ps_n3_exhibitFormContainer {
  background-color: #ffffff;
  height: calc(100vh - 8rem);
  overflow: scroll; }

.ps_n3_refreshButton {
  position: fixed;
  left: 17.8rem;
  top: 0.2rem; }

.ps_n3_exhibit-form {
  height: 100%; }

.ps_n3_exhibit-form fieldset > div {
  margin-bottom: 1em; }

.ps_n3_exhibit-form input,
.ps_n3_exhibit-form select,
.ps_n3_exhibit-form textarea {
  margin: 0;
  width: 100%;
  display: inline;
  border-radius: 0;
  border: 1px solid #dedede; }

.ps_n3_exhibit-form input {
  height: 2.3rem; }

.ps_n3_exhibit-form select {
  height: 3rem;
  background-color: white;
  border-radius: 0;
  max-width: 19.2rem !important; }

.ps_n3_exhibit-form select[multiple] {
  height: 4rem; }

.ps_n3_exhibit-form textarea {
  height: 4rem; }

.ps_n3_checkboxPair {
  height: 1rem; }

.ps_n3_checkboxPair input {
  position: relative;
  margin: 0;
  top: -1.25rem !important;
  max-height: 1rem !important;
  max-width: 1rem !important; }

.ps_n3_checkboxPair label {
  margin: 0 0 0 0rem; }

.ps_n3_mapStatus_warning:before {
  font-family: FontAwesome;
  content: "\f071"; }

.ps_n3_mapStatus_warning {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 20rem;
  width: 100vw;
  height: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 0 1.5rem 1rem;
  background-color: rgba(255, 255, 173, 0.92);
  -webkit-box-shadow: 8px -1px 21px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px -1px 21px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 8px -1px 21px 0 rgba(0, 0, 0, 0.75); }

.react-tabs {
  padding: 0 0.1rem 0 0.1rem; }

.react-tabs input,
.react-tabs textarea {
  max-width: 19rem; }

.ps_n3_form_buttons {
  position: fixed;
  margin: 0;
  width: 20rem;
  padding: .5rem 0 .5rem 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: -2px -4px 13px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -4px 13px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -4px 13px -5px rgba(0, 0, 0, 0.75);
  z-index: 100; }

.ps_n3_form_buttons button {
  margin: 0 1rem 0 0; }

.ps_n3_recordFormContainer {
  height: calc(100vh - 11rem);
  overflow: scroll;
  border: 0; }

.ps_n3_optionHeader {
  font-weight: bold; }

.ps_n3_highlight {
  background-color: #fffee1;
  padding: 1rem;
  margin: 1rem -1rem -1rem -1rem;
  border-radius: 0.3rem; }

.ps_n3_sub_options {
  margin: 0 1.5rem 0 1rem;
  font-size: .9rem; }
