/*
	This will all get compiled into main.css and published on build as main.css.

	Number of files will not change performance, so by all means make logical
	divisions - I recommend names that match the component they style or the source
	file to which the style applies, but other groupings also might make sense.

	Please note this is very slowly being converted from some older styles,
	you might see other things but going forward:

	- Always use relative units (rem or % if it makes sense)

	- Never use !important, figure out the load order instead

	- Specify colors as rgba() or 6 digit hex (avoid 8) for maximum compatibility

	- Please specify compact dimensions in full box model format to avoid
	  ambiguity, IE "1rem 0rem 1rem 0rem." Fine to leave off units for 0.

	- Prefix with ps_n3_ to namespace our settings because we never know what context this might appear
	  but we DO want to allow end user overrides, for example theming.
*/
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css";
@import "https://use.fontawesome.com/releases/v5.1.0/css/all.css";
@import "https://unpkg.com/leaflet@1.3.1/dist/leaflet.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css";
/*
	These !importants in this class are here to assert control
	over properties that Omeka specifies in body {}
*/
#ps_n3_body {
  overflow: hidden;
  font-family: "Lato",sans-serif;
  font-size: 1rem;
  line-height: 1rem !important;
  height: 100vh;
  margin: 0;
  padding: 0 0 0 0.5rem !important;
  box-sizing: content-box !important; }

#ps_n3_body button {
  background-color: #dedede;
  border-radius: 2px;
  padding: 7.6px;
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  cursor: pointer; }

#ps_n3_body a:link {
  text-decoration: none;
  color: #000000; }

#ps_n3_body a:visited {
  color: #000000; }

#ps_n3_body a:hover {
  text-decoration: none;
  color: #cccccc; }

#ps_n3_body table {
  margin: 30px 0;
  border-collapse: collapse; }

#ps_n3_body th,
td {
  text-align: left;
  padding: 7.5px 15px 6.5px 0;
  border-bottom: 1px solid #ababab; }

#ps_n3_main {
  overflow: hidden;
  border: 1px solid #0000000f;
  background-color: white;
  font-size: 1.2rem;
  font-family: "Open Sans";
  margin: 0.5rem;
  max-height: calc(100vh - 1rem);
  line-height: 1rem; }

.ps_n3_hidden {
  display: none; }

.ps_n3_invisible {
  opacity: 0; }

.ps_n3_button {
  background-color: #dedede;
  border-radius: 2px;
  padding: 7.6px;
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  cursor: pointer;
  margin: 0 0 0 0.3rem; }

.ps_n3_button:hover {
  background-color: #cdcdcd;
  color: black; }

.ps_n3_button.save {
  left: 16rem;
  margin: .5rem 0 0 0;
  position: relative; }

label {
  padding: 0;
  margin: 0; }

h3 {
  border: 0;
  margin: 1rem 0; }

.ps_n3_exhibitFormContainer {
  height: calc(100vh - 6rem);
  overflow: scroll;
  width: 19.3rem; }

.ps_n3_exhibitShowContainer {
  gridRow: 1;
  gridColumn: 1;
  margin: 0;
  height: 80vh; }

.ps_n3_exhibit-form {
  height: 100%; }

.ps_n3_exhibit-form fieldset > div {
  margin-bottom: 1em; }

.ps_n3_dayPickerInput,
.ps_n3_exhibit-form input,
.ps_n3_exhibit-form select,
.ps_n3_exhibit-form textarea {
  width: 100%;
  max-width: 18.5rem !important;
  display: inline;
  border-radius: 0;
  border: 1px solid #dedede;
  padding: 0 0 0 0.5rem; }

.DayPickerInput {
  width: 100%;
  max-width: 17.4rem !important; }

.ps_n3_exhibit-form input {
  height: 2.3rem;
  margin: .5rem 0 .5rem 0; }

.ps_n3_exhibit-form select {
  height: 3rem;
  background-color: white;
  border-radius: 0;
  max-width: 19.2rem !important; }

.ps_n3_exhibit-form select[multiple] {
  height: 4rem;
  margin: .5rem 0 .5rem 0; }

.ps_n3_exhibit-form textarea {
  height: 4rem;
  padding: 0.5rem 0 0 0.5rem;
  margin: .5rem 0 .5rem 0; }

.ps_n3_checkboxPair {
  height: 1rem; }

.ps_n3_checkboxPair input {
  position: relative;
  margin: 0;
  top: 0 !important;
  max-height: 1rem !important;
  max-width: 1rem !important; }

.ps_n3_checkboxPair label {
  margin: 0 0 0 0.5rem; }

.ps_n3_radioSet label {
  margin: 0 1rem 0 0; }

.ps_n3_radioSet input {
  position: relative;
  margin: 0;
  top: 0 !important;
  max-height: 1rem !important;
  max-width: 1rem !important; }

.ps_n3_inputColorSwatch {
  box-sizing: content-box;
  top: 0;
  margin: -2rem 0 0;
  padding: 0;
  position: relative;
  left: 16rem;
  top: 2.93rem;
  height: 2.3rem;
  width: 2.2rem;
  border: 1px solid grey; }

/* FIXME: this is a patch until we sort out the parent CSS, don't use !important, kids */
input.styleEditor_input {
  width: 98% !important; }

#ps_n3_colorPickerComponent {
  left: 3rem;
  z-index: 100; }

.ps_n3_colorPicker_picker {
  position: fixed;
  color: white; }

.ps_n3_mapComponent {
  height: 100%;
  top: 0;
  margin: 0; }

.ps_n3_mapComponent_withWarning {
  height: calc(100% - 2.8rem);
  top: 2.8rem; }

.ps_n3_mapStatus_warning:before {
  font-family: FontAwesome;
  content: "\f071"; }

.ps_n3_mapStatus_warning {
  box-sizing: content-box;
  position: absolute;
  z-index: 9000;
  height: 1.5rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 173, 0.92);
  -webkit-box-shadow: 8px -1px 21px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px -1px 21px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 8px -1px 21px 0 rgba(0, 0, 0, 0.75);
  left: 0rem;
  top: 0rem !important;
  width: calc(100% - 1rem);
  margin: 0rem;
  padding: .8rem 0 .5rem 1.2rem;
  line-height: 1rem; }

.react-tabs {
  padding: 0 0.1rem 0 0.1rem; }

.react-tabs input,
.react-tabs textarea {
  max-width: 19rem; }

.ps_n3_buttonGroup {
  margin: .5rem 0 .8rem .2rem; }

.ps_n3_buttonGroup button {
  margin-right: 0.5rem;
  outline: none; }

.ps_n3_buttonGroup_exhibitForm {
  margin: .5rem 0 .8rem .2rem; }

.ps_n3_info_component, .ps_n3_info_component_withWarning {
  position: absolute;
  top: .7rem;
  left: 54px;
  max-width: 400px;
  background-color: white;
  opacity: 0.9;
  text-align: left;
  padding: 10px;
  z-index: 999;
  border-radius: 0.3rem;
  border: 2px solid #c2c0ba; }

.ps_n3_info_component_withWarning {
  top: 3.5rem; }

.ps_n3_info_component hr {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray; }

.ps_n3_closeButton {
  position: relative;
  margin: -.7rem -.5rem -.5rem -.5rem;
  float: right;
  cursor: pointer; }

.ps_n3_recordFormContainer {
  height: calc(100vh - 12rem);
  overflow: scroll;
  border: 0;
  margin: 0 0 0 0; }

.ps_n3_optionHeader {
  font-weight: bold;
  border-bottom: 1px #c2c0ba dashed;
  margin: 0 0 1rem 0; }

.ps_n3_highlight {
  background-color: #fffee1;
  padding: 1rem;
  margin: -.5rem -1rem -1rem -1rem;
  border-radius: 0.3rem; }

.ps_n3_sub_options {
  margin: 0 1.5rem 0 1rem;
  font-size: .9rem; }

/**
* Rangeslider
*/
.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
  -ms-touch-action: none;
  touch-action: none; }

.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4); }

.rangeslider .rangeslider__handle {
  outline: none;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);*/ }

.rangeslider .rangeslider__handle .rangeslider__active {
  opacity: 1; }

.rangeslider .rangeslider__handle-tooltip {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 14px;
  transition: all 100ms ease-in;
  border-radius: 4px;
  display: inline-block;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0); }

.rangeslider .rangeslider__handle-tooltip span {
  margin-top: 12px;
  display: inline-block;
  line-height: 100%; }

.rangeslider .rangeslider__handle-tooltip:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0; }

/**
* Rangeslider - Horizontal slider
*/
.rangeslider-horizontal {
  height: 12px;
  border-radius: 10px; }

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #a3aaad;
  border-radius: 10px;
  top: 0; }

.rangeslider-horizontal .rangeslider__handle {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  top: 50%;
  transform: translate3d(-50%, -50%, 0); }

.rangeslider-horizontal .rangeslider__handle:after {
  content: ' ';
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background-color: #dadada;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset; }

.rangeslider-horizontal .rangeslider__handle-tooltip {
  top: -55px; }

.rangeslider-horizontal .rangeslider__handle-tooltip:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  left: 50%;
  bottom: -8px;
  transform: translate3d(-50%, 0, 0); }

/**
* Rangeslider - Vertical slider
*/
.rangeslider-vertical {
  margin: 20px auto;
  height: 150px;
  max-width: 10px;
  background-color: transparent; }

.rangeslider-vertical .rangeslider__fill,
.rangeslider-vertical .rangeslider__handle {
  position: absolute; }

.rangeslider-vertical .rangeslider__fill {
  width: 100%;
  background-color: #a3aaad;
  box-shadow: none;
  bottom: 0; }

.rangeslider-vertical .rangeslider__handle {
  width: 30px;
  height: 10px;
  left: -10px;
  box-shadow: none; }

.rangeslider-vertical .rangeslider__handle-tooltip {
  left: -100%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0); }

.rangeslider-vertical .rangeslider__handle-tooltip:after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgba(0, 0, 0, 0.8);
  left: 100%;
  top: 12px; }

/**
* Rangeslider - Reverse
*/
.rangeslider-reverse.rangeslider-horizontal .rangeslider__fill {
  right: 0; }

.rangeslider-reverse.rangeslider-vertical .rangeslider__fill {
  top: 0;
  bottom: inherit; }

/**
* Rangeslider - Labels
*/
.rangeslider__labels {
  position: relative; }

.rangeslider-vertical .rangeslider__labels {
  position: relative;
  list-style-type: none;
  margin: 0 0 0 24px;
  padding: 0;
  text-align: left;
  width: 250px;
  height: 100%;
  left: 10px; }

.rangeslider-vertical .rangeslider__labels .rangeslider__label-item {
  position: absolute;
  transform: translate3d(0, -50%, 0); }

.rangeslider-vertical .rangeslider__labels .rangeslider__label-item::before {
  content: '';
  width: 10px;
  height: 2px;
  background: black;
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1; }

.rangeslider__labels .rangeslider__label-item {
  position: absolute;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  top: 10px;
  transform: translate3d(-50%, 0, 0); }
