/*
	These !importants in this class are here to assert control
	over properties that Omeka specifies in body {}
*/
#ps_n3_body {
	overflow: hidden;
	font-family: "Lato",sans-serif;
	font-size: 1rem;
	line-height: 1rem !important;
	height: 100vh;
	margin: 0;
	padding: 0 0 0 0.5rem !important;
	box-sizing: content-box !important;
}

#ps_n3_body button {
	background-color: #dedede;
	border-radius: 2px;
	padding: 7.6px;
	display: inline-block;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	cursor: pointer;
}

#ps_n3_body a:link {
	text-decoration: none;
	color: #000000;
}

#ps_n3_body a:visited {
	color: #000000;
}

#ps_n3_body a:hover {
	text-decoration: none;
	color: #cccccc;
}

#ps_n3_body table {
	margin: 30px 0;
	border-collapse: collapse;
}

#ps_n3_body th,
td {
	text-align: left;
	padding: 7.5px 15px 6.5px 0;
	border-bottom: 1px solid #ababab;
}

#ps_n3_main {
	overflow: hidden;
	border: 1px solid #0000000f;
	background-color: white;
	font-size: 1.2rem;
	font-family: "Open Sans";
	margin: 0.5rem;
	max-height: calc(100vh - 1rem);
	line-height: 1rem;
}

.ps_n3_hidden {
	display: none;
}

.ps_n3_invisible {
	opacity: 0;
}

.ps_n3_button {
	background-color: #dedede;
	border-radius: 2px;
	padding: 7.6px;
	display: inline-block;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	cursor: pointer;
	margin: 0 0 0 0.3rem;
}

.ps_n3_button:hover {
	background-color: #cdcdcd;
	color: black;
}


.ps_n3_button.save {
    left: 16rem;
	margin:.5rem 0 0 0;
	position: relative;
}

label {
	padding: 0;
	margin: 0;
}

h3 {
	border: 0;
	margin: 1rem 0;
}
