.ps_n3_inputColorSwatch {
	box-sizing: content-box;
	top: 0;
	margin: -2rem 0 0;
	padding: 0;
	position: relative;
	left: 16rem;
	top: 2.93rem;
	height: 2.3rem;
	width: 2.2rem;
	border: 1px solid grey;
}

/* FIXME: this is a patch until we sort out the parent CSS, don't use !important, kids */
input.styleEditor_input {
	width: 98% !important;
}

#ps_n3_colorPickerComponent {
	left: 3rem;
	z-index: 100;
}

.ps_n3_colorPicker_picker {
	position: fixed;
	color: white;
}
