.exhibit-form label {
	display: inline-block;
}

.exhibit-form fieldset > div {
	margin-bottom: 1em;
}

.exhibit-form input,
.exhibit-form select,
.exhibit-form textarea {
	max-width: 400px;
	width: 100%;
}
