.ps_n3_exhibit-public{
	height: 100%;
}
.ps_n3_exhibitFormContainer {
	height: calc(100vh - 14rem);
	overflow: scroll;
	// width: 19.3rem;
	padding: 0 1rem 1rem 0.5rem;
}

.ps_n3_exhibitFormContainer fieldset {
    margin: 0 0 24px;
    border: 0;
    padding: 0;
    min-width: 100%;
}

.ps_n3_exhibitFormContainer .field,
.ps_n3_recordFormContainer .field {
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    position: relative;
    margin-bottom: 6px;
    display: flex;
	// flex-wrap: wrap;
	flex-flow: column wrap;
}

.ps_n3_exhibitFormContainer .inline.fields {
	width: 45%
}

.ps_n3_exhibitFormContainer .inline.fields label {
	flex: 2 0 auto;
}

.ps_n3_exhibitFormContainer .ui.input input, 
.ps_n3_exhibitFormContainer .ui.input textarea {
	width: 95% !important;
}

.ps_n3_exhibitFormContainer .ui.checkbox {
    position: relative;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    min-height: 17px;
    font-size: 1rem;
    line-height: 17px;
    min-width: 17px;
}

.ps_n3_exhibitFormContainer .ui.checkbox input[type=checkbox]{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    // opacity: 0!important;
    outline: 0;
    z-index: 3;
    width: 17px;
	height: 17px;
}

.ps_n3_exhibitShowContainer {
	gridRow: 1;
	gridColumn: 1;
	margin: 0;
	// height: 80vh;
}

.ps_n3_exhibit-form {
	/*border:1px solid blue;*/
	overflow: hidden;
	height: calc(100vh - 12.5rem);
	width: 100%;
	padding:0 0 1rem 0; //0 0 10rem 0
	margin:0;
}

.ps_n3_exhibit-form fieldset > div {
	margin-bottom: 1em;
}

.ps_n3_dayPickerInput,
.ps_n3_exhibit-form input,
.ps_n3_exhibit-form select,
.ps_n3_exhibit-form textarea {
	width: 100%;
	max-width: 18.5rem !important;
	display: inline;
	border-radius: 0;
	border: 1px solid #dedede;
	padding: 0 0 0 0.5rem;
}

.DayPickerInput {
	width: 100%;
	max-width: 17.4rem !important;
}

.ps_n3_exhibit-form input {
	height: 2.3rem;
	margin:.5rem 0 .5rem 0;
}

.ps_n3_exhibit-form select {
	height: 3rem;
	background-color: white;
	border-radius: 0;
	max-width: 19.2rem !important;
}

.ps_n3_exhibit-form select[multiple] {
	height: 4rem;
	margin:.5rem 0 .5rem 0;
}

.ps_n3_exhibit-form textarea {
	height: 4rem;
	padding: 0.5rem 0 0 0.5rem;
	margin:.5rem 0 .5rem 0;
}

.ps_n3_checkboxPair {
	height: 1rem;
	padding-left: 10px;
}

.ps_n3_checkboxPair input {
	position: relative;
	margin: 0;
	top: 0 !important;
	max-height: 1rem !important;
	max-width: 1rem !important;
}

.ps_n3_checkboxPair label {
	margin: 0 0 0 0.5rem;
}

.ps_n3_radioSet label {
	margin: 0 1rem 0 0;
}

.ps_n3_radioSet input {
	position: relative;
	margin: 0;
	top: 0 !important;
	max-height: 1rem !important;
	max-width: 1rem !important;
}
