.ps_n3_leafletMap {
	position: relative;
	height:100%;
	// max-height:calc(100vh - 1.2rem);
	// min-height:calc(100vh - 1.2rem);
	outline: none;
}

.ps_n3_mapComponent_withWarning {
	min-height: calc(100vh - 4rem);
	max-height: calc(100vh - 4rem);
}

.ps_n3_mapStatus_warning:before {
	font-family: FontAwesome;
	content: "\f05e"; //f071
}

.ps_n3_mapStatus_warning {
	box-sizing: content-box;
	position: absolute; //relative
	z-index: 9000;
	height: 1.5rem;
	font-size: 1rem;
	background-color: rgba(255, 255, 173, 0.92);
	-webkit-box-shadow: 8px -1px 21px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 8px -1px 21px 0 rgba(0,0,0,0.75);
	box-shadow: 8px -1px 21px 0 rgba(0,0,0,0.75);
    left:0rem;
    top:auto !important; //0
    width:calc(100% - 1rem);
    margin:0rem;
    padding:.8rem 0 .5rem 1.2rem;
	line-height:1rem;
	text-align: left;
}
