.ps_n3_mapComponent {
	height: 100%;
	top: 0;
	margin: 0;

}

.ps_n3_mapComponent_withWarning {
	height: calc(100% - 2.8rem);
	top: 2.8rem;

}

.ps_n3_mapStatus_warning:before {
	font-family: FontAwesome;
	content: "\f071";
}

.ps_n3_mapStatus_warning {
	box-sizing: content-box;
	position:absolute;
	z-index: 9000;
	height: 1.5rem;
	font-size: 1rem;
	background-color: rgba(255, 255, 173, 0.92);
	-webkit-box-shadow: 8px -1px 21px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 8px -1px 21px 0 rgba(0,0,0,0.75);
	box-shadow: 8px -1px 21px 0 rgba(0,0,0,0.75);
    left:0rem;
    top:0rem !important;
    width:calc(100% - 1rem);
    margin:0rem;
    padding:.8rem 0 .5rem 1.2rem;

	line-height:1rem;
}
