// .actions {
//   margin: 0 0 0 auto;
//   display: flex;
//   padding: 0;
// }

// .actions li {
//   list-style-type: none;
// }

// .actions a,
// .actions a:before,
// .actions button,
// .actions button:before {
//   width: 24px;
//   height: 24px;
//   line-height: 24px;
//   vertical-align: top;
//   border: 0;
//   box-shadow: none;
// }

// .actions a,
// .actions button {
//   opacity: .5;
// }

// .actions a:before,
// .actions button:before {
//   text-align: right;
// }

// .actions a:hover,
// .actions a:active,
// .actions button:hover {
//   opacity: 1;
// }

// .actions button {
//   background-color: transparent;
//   color: #A91919;
//   margin: 0;
//   text-indent: -9999px;
//   position: relative;
//   padding: 0;
//   min-height: 0;

//   &:before {
//       text-indent: 0;
//       position: absolute;
//       top: 0;
//       left: 0;
//   }
// }

// table.tablesaw {
//   margin-bottom: 12px;
//   border: 1px solid #dfdfdf;
//   border-radius: 3px;
//   border-collapse: separate;
// }

// .tablesaw tr {
//   overflow: hidden;
//   margin-bottom: 0;

//   &:first-of-type {
//       border-top: 1px solid #dfdfdf;
//   }
// }

// .browse td:not(:first-of-type) .tablesaw-cell-content,
// #properties td:not(:first-of-type) .tablesaw-cell-content {
//   display: inline-block;
// }


// .tablesaw td:first-of-type {
//   background-color: rgba(0,0,0,.04);

//   .tablesaw-cell-label {
//       width: 0;
//       height: 0;
//       overflow: hidden;
//       padding: 0;
//       display: block;
//   }

//   .tablesaw-cell-content {
//       width: 100%;
//       max-width: 100%;
//   }
// }

// .batch-edit.tablesaw td:first-of-type {
//   width: 100%;
//   background: rgba(0,0,0,.04);

//   img {
//       margin-bottom: 0;
//   }

//   .tablesaw-cell-label {
//       width: 0;
//       overflow: hidden;
//       padding: 0;
//   }
// }

// .batch-edit .tablesaw-cell-content {
//   display: inline-flex;
// }

// .tablesaw-cell-content {
//   width: 70%;
//   max-width: 70%;
// }

// .tablesaw-cell-content img {
//   margin: 0 (.25 * 24px ) 0 0;
// } 

// .tablesaw tr:last-of-type td,
// .tablesaw tr:last-of-type th,
// .tablesaw th,
// .tablesaw td {
//   padding-top: (.25 * 24px );
//   padding-bottom: (.25 * 24px );
//   vertical-align: top;
// }

// .tablesaw th:not(:last-of-type),
// .tablesaw td:not(:last-of-type) {
//   border-bottom: 1px solid #dfdfdf;
// }

// .tablesaw tr.delete {
//   border: 0;

//   td {
//       border: 0;
//   }

//   td:not(:first-of-type) {
//       display: none;
//   }
// }

// /* @group ----- Special cases ----- */

// .resource-template th:first-of-type,
// .resource-template td:first-of-type {
//   width: 100%;
// }

// #site-user-permissions tr.user.value {
//   position: relative;
// }

// #site-user-permissions td:nth-child(3) {
//   position: absolute;
//   top: 0;
//   right: 0;
//   padding: 0 (.25 * 24px ) 0 0;

//   .tablesaw-cell-label {
//       display: none;
//   }

//   .tablesaw-cell-content {
//       width: 100%;
//       max-width: 100%;
//   }
// }

// #site-user-permissions.tablesaw-stack tbody tr {
//   border-bottom: 0;
// }

// /* @end */

/*! Tablesaw - v3.0.9 - 2018-02-14
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2018 Filament Group; Licensed MIT */

.tablesaw {
    width: 100%;
    max-width: 100%;
    empty-cells: show;
    border-collapse: collapse;
    border: 0;
    padding: 0;
  }
  
  .tablesaw * {
    box-sizing: border-box;
  }
  
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: none;
  }
  
  /* Mobile first styles: Begin with the stacked presentation at narrow widths */
  
  /* Support note IE9+: @media only all */
  
  @media only all {
    /* Show the table cells as a block level element */
  
    .tablesaw-stack {
      clear: both;
    }
  
    .tablesaw-stack td,
    .tablesaw-stack th {
      text-align: left;
      display: block;
    }
  
    .tablesaw-stack tr {
      clear: both;
      display: table-row;
    }
  
    /* Make the label elements a percentage width */
  
    .tablesaw-stack td .tablesaw-cell-label,
    .tablesaw-stack th .tablesaw-cell-label {
      display: inline-block;
      padding: 0 .6em 0 0;
      width: 30%;
    }
  
    /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  
    .tablesaw-stack th .tablesaw-cell-label-top,
    .tablesaw-stack td .tablesaw-cell-label-top {
      display: block;
      padding: .4em 0;
      margin: .4em 0;
    }
  
    .tablesaw-cell-label {
      display: block;
    }
  
    /* Avoid double strokes when stacked */
  
    .tablesaw-stack tbody th.group {
      margin-top: -1px;
    }
  
    /* Avoid double strokes when stacked */
  
    .tablesaw-stack th.group b.tablesaw-cell-label {
      display: none !important;
    }
  }
  
  @media (max-width: 39.9375em) {
    /* Table rows have a gray bottom stroke by default */
  
    .tablesaw-stack tbody tr {
      display: block;
      width: 100%;
      border-bottom: 1px solid #dfdfdf;
    }
  
    .tablesaw-stack thead td,
    .tablesaw-stack thead th {
      display: none;
    }
  
    .tablesaw-stack tbody td,
    .tablesaw-stack tbody th {
      display: block;
      float: left;
      clear: left;
      width: 100%;
    }
  
    .tablesaw-cell-label {
      vertical-align: top;
    }
  
    .tablesaw-cell-content {
      display: inline-block;
      max-width: 67%;
    }
  
    .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-label,
    .tablesaw-stack .tablesaw-stack-block .tablesaw-cell-content {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  
    .tablesaw-stack td:empty,
    .tablesaw-stack th:empty {
      display: none;
    }
  }
  
  /* Media query to show as a standard table at 560px (35em x 16px) or wider */
  
  @media (min-width: 40em) {
    .tablesaw-stack tr {
      display: table-row;
    }
  
    /* Show the table header rows */
  
    .tablesaw-stack td,
    .tablesaw-stack th,
    .tablesaw-stack thead td,
    .tablesaw-stack thead th {
      display: table-cell;
      margin: 0;
    }
  
    /* Hide the labels in each cell */
  
    .tablesaw-stack td .tablesaw-cell-label,
    .tablesaw-stack th .tablesaw-cell-label {
      display: none !important;
    }
  }