.react-tabs {
	padding: 0 0.1rem 0 0.1rem;
}

.react-tabs input,
.react-tabs textarea {
	max-width: 19rem;
}

.ps_n3_buttonGroup {
	margin: 0 0 .8rem -.1rem;
}

.ps_n3_buttonGroup_exhibitForm{
	margin: 0 0 .8rem .2rem;
}
