.react-tabs {
	padding: 0 0.1rem 0 0.1rem;
}

.react-tabs input,
.react-tabs textarea {
	max-width: 19rem;
}

.ps_n3_buttonGroup {
	margin: .5rem 0 .8rem .2rem;
}
.ps_n3_buttonGroup button{
	margin-right:0.5rem;
	outline: none;
}

.ps_n3_buttonGroup_exhibitForm{
	margin: .5rem 0 .8rem .2rem;
}
